<div class="container" *ngIf="items else missing">
  <h3>Cos de cumparaturi</h3> <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Produs</th>
        <th scope="col">Pret unitar</th>
        <th scope="col">Cantitate</th>
        <th scope="col">Pret</th>
        <th scope="col">Actiune</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.name}}</td>
        <td>{{item.price | currency}}</td>
        <td>
          <div class="quantity-field">
            <div>
              <i class="increase-qty bi-arrow-up-square-fill" (click)="increaseQuantity(item)"></i>
              {{item.qty}}
              <i class="decrease-qty bi-arrow-down-square-fill" (click)="decreaseQuantity(item)"></i>
            </div>
          </div>
        </td>
        <td>{{item.price * item.qty | currency}}</td>
        <td>
          <button class="btn btn-danger" (click)="removeItem(item)">Elimina</button>
        </td>
      </tr>
      <tr class="total">
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{total | currency}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-danger" (click)="clearCart()">Golire cos</button>
  <button class="btn btn-success next-step" (click)="toggleShippingInfo()">Pasul urmator</button>
</div>

<app-shipping-info (displayNextStep)="getNextStep($event)" [items]="items" *ngIf="nextStep"></app-shipping-info>

<ng-template #missing>
  <div class="container">
      <mat-icon aria-hidden="false" class="heading-l" aria-label="Example home icon">mood_bad</mat-icon>
    <h3>Nu ai produse in cosul de cumparaturi.</h3>
  </div>
</ng-template>
