<div class="container" *ngIf="items else missing">
  <h3>Shopping Cart</h3> <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.name}}</td>
        <td>{{item.price | currency}}</td>
        <td>
          <div class="quantity-field">
            <div>
              <i class="increase-qty bi-arrow-up-square-fill" (click)="increaseQuantity(item)"></i>
              {{item.qty}}
              <i class="decrease-qty bi-arrow-down-square-fill" (click)="decreaseQuantity(item)"></i>
            </div>
          </div>
        </td>
        <td>{{item.price * item.qty | currency}}</td>
        <td>
          <button class="btn btn-danger" (click)="removeItem(item)">Remove</button>
        </td>
      </tr>
      <tr class="total">
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{total | currency}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-danger" (click)="clearCart()">Clear Cart</button>
  <button class="btn btn-success next-step" (click)="toggleShippingInfo()">Next Step</button>
</div>

<app-shipping-info (displayNextStep)="getNextStep($event)" [items]="items" *ngIf="nextStep"></app-shipping-info>

<ng-template #missing>
  <div class="container">
    <h3>You don't have any items in your shopping cart.</h3>
  </div>
</ng-template>
