<div class="container">
  <div class="row">
    <form [formGroup]="searchForm">
      <div class="form-group">
        <input (change)="search()" type="text" placeholder="Caută (cafea, apa)" class="form-control" id="exampleInputEmail1" formControlName="searchInput">
      </div>
    </form>
  </div>
  <div class="row">
    <img
      src="../../assets/logo.png"
      class="img-fluid logo" alt="Responsive image">
  </div>
  <div class="row justify-content-center" id="products">
    <div class="col-sm" *ngFor="let product of homeProducts">
      <div class="card">
        <div class="card-body ta-center">
          <div class="homeProductImageContainer">
            <img [src]="productMedia[product._id]" height="192" alt="">
          </div>
          <h5 class="card-title" [routerLink]="['product', product._id]">{{product.name}} <span
              class="badge bg-secondary">Nou</span></h5>
          <h6 class="card-subtitle mb-2 text-muted">Eligibil pentru subscripție</h6>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text">{{product.price | currency}}</p>
        </div>
      </div>
    </div>
    <div class="col-12 centered" *ngIf="noSearchResults">
      <h2>Nu am gasit niciun rezultat pentru cautarea ta.</h2>
    </div>
    <div class="row">
      <div class="col-sm centered">
        <span class="heading-m">{{customersCount}}</span>
        <span>Clienți</span>
      </div>
      <div class="col-sm centered">
        <span class="heading-m">{{subscriptionsCount}}</span>
        <span>Subscripții</span>
      </div>
      <div class="col-sm centered">
        <span class="heading-m">{{ordersCount}}</span>
        <span>Comenzi</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <h1>Povestea noastra...</h1>
        <span class="nostalgic">Am ales acest nume din dorința de a contopi sub același cuvânt două cuvinte în limba engleză ce descriu activitatea principală a aplicației:
          verbul “to bring” semnificând “a aduce” în limba română, iar adverbul “weekly”, traducându-se în “săptămânal”.
          Aplicația propune o schimbare a modului de a cumpăra prin trecerea de la o comandă la mai multe comenzi generate automat pe baza subscripției.           
        </span>
      </div>
    </div>
    <div class="row">
      <span class="heading-sm">Cum funcționăm?</span>
      <div class="col-sm">
        <mat-icon aria-hidden="false" aria-label="Example home icon">computer</mat-icon>
        <p class="no-margin heading-xs">Te înregistrezi pe site, apoi alegi ce produse dorești și cantitățile lor.</p>
        <p class="no-margin heading-xs">Poți avea o singură subscripție pentru aceeași combinație de produs-cantitate.</p>
      </div>
      <div class="col-sm">
        <mat-icon aria-hidden="false" aria-label="Example home icon">description</mat-icon>
        <p class="no-margin heading-xs">Apoi trimiți comanda furnizându-ne adresa și astfel creezi o subscripție.</p>
        <p class="no-margin heading-xs">Pentru fiecare produs din comandă se va creea câte o subscripție.</p>
      </div>
      <div class="col-sm">
        <mat-icon aria-hidden="false" aria-label="Example home icon">done</mat-icon>
        <p class="no-margin heading-xs">În fiecare dimineață la ora 1 o comandă pentru fiecare subscripție va pleca spre tine.</p>
        <p class="no-margin heading-xs">Comenzile le poți urmări din pagina contului împreuna cu starea acestora.</p>
      </div>
    </div>
  </div>
</div>