<table class="table" *ngIf="data.subscriptions">
    <thead>
      <tr>
        <th scope="col">Produs</th>
        <th scope="col">Buc.</th>
        <th scope="col">Adresa</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subscription of data.subscriptions">
        <td>{{subscription.productId.name}}</td>
        <td>{{subscription.qty}}</td>
        <td>{{subscription.addressId.street}}&nbsp;{{subscription.addressId.number}}</td>
        <td><button class="btn" (click)="removeSubscription(subscription._id)">X</button></td>
      </tr>
    </tbody>
  </table>
  <button class="btn" mat-button mat-dialog-close>Cancel</button>