<div class="container" *ngIf="userData">
    <div class="row">
        <div class="col-sm-6">
            <div class="card account-card">
                <div class="card-body">
                    <div class="user-data">
                        <div class="avatar"></div>
                        <div class="data">
                            <div class="title-container">
                                <h5 class="card-title">Datele contului</h5>
                                <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted"></h6>
                            <p class="card-text"><span class="field-name">Nume:</span><span class="field-value">{{userData.firstName}}&nbsp; {{userData.lastName}}</span></p>
                            <p class="card-text"><span class="field-name">Email:</span><span class="field-value">{{userData.email}}</span></p>
                            <p class="card-text"><span class="field-name">Vechime:</span><span class="field-value">1 an</span></p>
                            <p class="card-text"><span class="field-name">Telefon:</span><span class="field-value">0722747426</span></p>
                        </div>
                    </div>
                    <div class="account-card-footer">
                        
                        <button class="btn footer-btn action" (click)="logout()">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card account-card">
                <div class="card-body">
                    <div class="user-data">
                        <div class="subscriptions-image"></div>
                        <div class="data-subscriptions">
                            <div class="title-container">
                                <h5 class="card-title">Subscriptii</h5><mat-icon aria-hidden="false" aria-label="Example home icon">calendar_today</mat-icon>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted"></h6>
                            <p class="card-text"><span class="field-name">Subscriptii:</span><span *ngIf="subscriptions" class="field-value">{{subscriptions.length}}</span></p>
                            <p class="card-text"><span class="field-name">Email:</span><span class="field-value">{{userData.email}}</span></p>
                            <p class="card-text"><span class="field-name">Vechime:</span><span class="field-value">1 an</span></p>
                            <p class="card-text"><span class="field-name">Telefon:</span><span class="field-value">0722747426</span></p>
                        </div>
                    </div>
                    <div class="account-card-footer">
                        <button class="btn footer-btn action" (click)="toggleManageSubscriptions()">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card account-card">
                <div class="card-body addresses-body">
                    <div class="title-container">
                        <h5 class="card-title">Adresele mele</h5>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">house</mat-icon>
                    </div>
                    <div class="main-address-container" *ngIf="mainAddress">
                        <h6 class="card-subtitle mb-2 decorate"><small>ADRESA PRINCIPALA</small></h6>
                        <p class="card-text addresses-p">{{userData.firstName}}&nbsp;{{userData.lastName}}</p>
                        <p class="card-text addresses-p">0722747426</p>
                        <p class="card-text addresses-p" *ngIf="mainAddress">{{mainAddress.street}}&nbsp;
                            {{mainAddress.number}}&nbsp; {{mainAddress.details}}</p>
                    </div>
                    <div *ngIf="!mainAddress">
                        <h6 class="card-subtitle mb-2 decorate"><small>NO STORED ADDRESSES</small></h6>
                    </div>
                    <div class="account-card-footer">
                        <button class="btn footer-btn action" (click)="toggleShowAddresses()"><mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon></button>
                    </div>
                    <div *ngIf="showAddresses">
                        <ul class="list-group addresses">
                            <li class="each-address list-group-item" *ngFor="let address of addresses">
                                <button class="btn" mat-button (click)="editAddressDialog(address)">{{address.street}}&nbsp; {{address.number}}&nbsp; {{address.details}}</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>