.account-card {
    margin-bottom: 3%;
}

.account-card-footer {
    border-top: 0.5px solid #e6e2e2;
    width: 100%;
}

.footer-btn {
    width: 100%;
    color: blue
}

.card-body {
    padding: 1rem 0 0rem 1rem;
    /* padding-top: 1rem; */
}


.addresses-p {
    margin: 0;
    width: 350px;
}

.decorate {
    color: #003e75;
}

.action {
    font-weight: 500;
    color: #0f6ec6;
    width: auto;
}

.user-data {
    display: flex;
}

.avatar {
    background-image: url("../../assets/profile.jpeg");
    background-repeat: no-repeat;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    min-width: 132px;
}

.data {
    margin-left: 5%;
}

.field-name {
    width: 80px;
    display: inline-block;
    color: gray;
}

.field-name,
.field-value {
    font-size: 15px;
}

.main-address-container {
    padding: 1em 0;
}

.title-container {
    display: flex;
}

.card-title {
    margin-right: 1em;
}

.card-body {
    padding: 1rem 1rem 1rem 1rem;
}